#For data manipulation
import pandas as pd
import numpy as np

#For visualisation
import matplotlib.pyplot as plt 
import plotly.express as px
import seaborn as sns 
import missingno as msn

#For preprocessing
from sklearn.preprocessing import RobustScaler

#imputer 
from sklearn import linear_model
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

#For modeling
from sklearn.model_selection import train_test_split 
from xgboost import XGBRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import RandomForestRegressor

#For evaluation
from sklearn.metrics import r2_score, mean_absolute_error,mean_squared_error,mean_absolute_percentage_error

#For cross-validation
from sklearn import base
from sklearn.model_selection import KFold

#Additional libraries
from warnings import filterwarnings
from scipy.stats import zscore
from IPython.display import Image
import pickle
%matplotlib inline 